@charset "UTF-8";
/* CSS Document */
.border-color_01 {
  border-top: 2px solid #777FAD;
}
.border-color_03 {
  border-top: 2px solid #7BBEB9;
}
.border-color_04 {
  border-top: 2px solid #F09C95;
}
.border-color_05 {
  border-top: 2px solid #e29f49;
}
.border-color_06 {
  border-top: 2px solid #8EC298;
}
.p-intro_outpatient_anchorItem {
  position: relative;
  display: block;
  width: 25%;
  height: 56px;
  margin: 0 2px;
  padding: 10px 0 56px;
  border-radius: 0 0 10px 10px;
  background-color: #80CBE6;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.875;
  text-align: center;
  box-sizing: border-box;
}
.p-intro_hemo_anchorItem {
  position: relative;
  display: block;
  width: 33%;
  height: 64px;
  margin: 0 2px;
  padding: 5px 0 56px;
  border-radius: 0 0 10px 10px;
  background-color: #7BBEB9;
  color: #274286;
  font-size: 24px;
  line-height: 1.875;
  text-align: center;
  box-sizing: border-box;
}


.p-links3__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-links3__listItem {
  border: 1px solid #c3bfb6;
  margin: -1px 0 0;
}
.p-links3__listItem a {
  position: relative;
  padding: 3px 30px 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}
.p-links3__listItem a:before {
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f105';
  font-size: 28px;
  line-height: 1;
  color: #535E83;
  margin-top: -14px;
}

.p-links3__icon {
  width: 150px;
  margin-right: 10px;
}

.p-links3__title {
  width: 100%;

}
.p-links3__title .text {
  display: block;
	margin: 10px auto;

}
.p-links3__title .sub {
  display: block;
  color: #535E83;

}
.p-links3__listItem {
    width: 100%;
	margin-bottom: 10px
  }
p-links3 {
    margin: 0 0 30px;
  }
  .p-links3__listItem a:hover {
    opacity: 1;
  }
  .p-links3__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48px;
        flex: 0 0 48px;
    width: 48px;
    margin-right: 10px;
  }
  .p-links3__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

  }
  .p-links3__title .text {
    font-size: 20px;
    font-size: 1rem;
    line-height: 1.375;
	  
  }

.p-links4__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-links4__listItem {
  border: 0px solid #A87745;
  margin: -1px 0 0;
    border-radius: 20px;
}
.p-links4__listItem a {
  position: relative;
  padding: 0px 30px 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.p-links4__listItem a:before {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f107';
  font-size: 28px;
  line-height: 1;
  color: #FFFFFF;
  margin-top: -14px;
}

.p-links4__icon {
  width: 150px;
  margin-right: 10px;
}

.p-links4__title {
  width: 100%;

}
.p-links4__title .text {
  display: block;
	margin: 10px auto;

}
.p-links4__title .sub {
  display: block;
  color: #535E83;

}
.p-links4__listItem {
    width: 100%;
	margin-bottom: 10px
  }
.p-links4 {
    margin: 0 0 30px;
  }
  .p-links4__listItem a:hover {
    opacity: 1;
  }

  .p-links4__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

  }
  .p-links4__title .text {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.375;
	  
  }

.p-links3__list .type-color00 {
  background-color: rgba(227,180,213,0.5)
}
.p-links3__list .type-color01 {
  background-color: rgba(239,187,209,0.5)
}
.p-links3__list .type-color02 {
  background-color: rgba(241,189,169,0.5)
}
.p-links3__list .type-color03 {
  background-color: rgba(246,215,116,0.5)
}
.p-links3__list .type-color04 {
  background-color: rgba(247,232,76,0.5)
}
.p-links3__list .type-color05 {
  background-color: rgba(211,217,83,0.5)
}
.p-links3__list .type-color06 {
  background-color: rgba(138,191,148,0.5)
}
.p-links3__list .type-color07 {
  background-color: rgba(128,196,201,0.5)
}
.p-links3__list .type-color08 {
  background-color: rgba(124,200,233,0.5)
}
.p-links3__list .type-color09 {
  background-color: rgba(159,183,218,0.5)
}
.p-links3__list .type-color10{
  background-color: rgba(192,178,207,0.5)
}
.p-links3__list .type-color11 {
  background-color: rgba(217,177,195,0.5)
}
.p-links3__list .type-color12 {
  background-color: rgba(217,194,167,0.5)
}
.p-links3__list .type-color-white {
  background-color: #f5f4f2;
}

@media screen and (min-width: 768px) {
  /* ---------------------------
 * PC
 * --------------------------- */
.p-links3 {
    margin: 0;
    width: 840px;
  }
  .p-links3__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
  }
  .p-links3__listItem {
    width: 410px;
	  margin-bottom: 20px;
  }
  .p-links3__title .text {

    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5;
	  letter-spacing: 3px;
	  margin-left: 15px;
	  margin-right: 5px;
	  font-weight: bold;
	  color: #535E83;
	  text-align: center;
  }
  .p-links3__title .sub {
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.375;
	  margin:auto;
	  text-align: center;
	  
  }	
	
.p-links4 {
    margin: 0;
  }
  .p-links4__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
  }
  .p-links4__listItem {
    width: 410px;
	  margin-bottom: 20px;
      background-color: #DFAB65;
  }
  .p-links4__title .text {

    font-size: 38px;
    line-height: 1.5;
	  letter-spacing: 5px;
	  font-weight: bold;
	  text-align: center;
      color: #FFFFFF;
  }
  .p-links4__title .sub {
    font-size: 18px;
    line-height: 1.375;
	  margin:auto;
	  text-align: center;
      color: #FFFFFF;
	  
  }	
}

.p-inquiry_down_links li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f019';
  font-size: 20px;
  line-height: 1;
  margin-right: 5px;
}
.p-inquiry_cal_links li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f073';
  font-size: 20px;
  line-height: 1;
  margin-right: 5px;
}
.p-inquiry_tel-box_icon {
	display: block;
}
.p-left-box{
	float: left;
	font-size: 16px;

}
.p-left-box .title{

	font-size: 20px;

}
.p-right-box{
	float: right;
	overflow:hidden;
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}
.p-left-box2{
	width: 24%;
	float: left;
	font-size: 12px;
	

}
.p-left-box2 .title{

	font-size: 20px;

}
.p-left-box2 .text-s{
	font-size: 14px;
	line-height: 1em;
}
.p-right-box2{
	width: 70%;

	float: right;
	font-size: 16px;
	text-align: center;
	margin-bottom: 0px;
}
@media screen and (max-width : 1355px ){
  /* ---------------------------
 * Mobile
 * --------------------------- */
     .p-links3__title .text {

    font-size: 22px;
	  letter-spacing: 3px;
	  margin-left: 15px;
	  margin-right: 5px;
	  font-weight: bold;
	  color: #535E83;
	  text-align: center;
  }
	.p-links3__title .sub {
    display: block;
    margin-left: auto;
    font-size: 10px;
    font-size: .875rem;
    line-height: 1.4;
    white-space: nowrap;
  }
	.p-intro_outpatient_anchorItem {
  position: relative;
  display: block;
  min-width: 60px;
  height: 56px;
  margin: 0 2px;
  padding: 10px 5px 30px;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 12px;
  font-size: .75rem;
  line-height: 1;
  box-sizing: border-box;
}
	  .p-intro__title {
    padding: 0 1%;
    margin-bottom: 10px;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.54545;
    text-align: center;
  }
.p-intro_hemo_anchorItem {
    box-sizing: border-box;
    min-width: 100px;
    padding: 8px 5px 20px;
    height: auto;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1;
  }
.p-intro_hemo_anchorItem:after {
    bottom: 3px;
  }
	
.p-left-box2{
	width: 100%;
	float: none;
	font-size: 14px;
	margin: 0 auto;

}
.p-left-box2 .title{

	font-size: 18px;

}
.p-right-box2{
	width: 100%;
	overflow:hidden;
	float: none;
	font-size: 14px;
padding-bottom: 0;
	text-align: center;
	margin-bottom: -30px;
}
}


#stacked-example-3 {
  height: 400px;
  width: 90%;
  margin: 0px auto 0;

  --color-1: rgba(42,182,190,1.00);
  --color-2: rgba(238,137,181,1.00);

}
#stacked-example-3 caption {
  font-weight: bold;
	font-size: 30px;
	margin-bottom: 50px;
	text-align: left;
}


#stacked-example-3 tbody td {

  transform-origin: bottom;
  animation: revealing-bars 10s linear ;
	font-size: 10px;
}
#stacked-example-3 tbody th {
	font-size: 14px;
}
#stacked-example-3 tbody tr {
  padding: 0 5px;
}
@keyframes revealing-bars {
  0%  { transform: scaleY( 0 ); }
  15% { transform: scaleY( 1 ); }
}
.statistics_img{
	margin-top: 50px;
}
@media screen and (max-width : 767px ){
	#stacked-example-3 tbody td {
	font-size: 8px;
}
#stacked-example-3 tbody th {
	font-size: 14px;
}
#stacked-example-3 tbody tr {
  padding: 0 5px;
}
	.statistics_img{
	margin-top: 20px;
}
}